$color-primary: #7CB2A8;
$color-primary-hover:  #6AA298;
$color-primary-disabled: #B0D9D3;

$color-secondary: #F19A9A;
$color-secondary-hover: #E67E7E;
$color-secondary-disabled: #F9D6D6;

$color-third: #F8C491;
$color-third-hover: #F5B073;
$color-third-disabled: #FDE9D9;

$color-success: #4CAF50;
$color-success-hover: #43A047;

$color-danger: #F44336;
$color-danger-hover: #E53935;

$background-color: #F5F5F5;
$foreground-color: #050505;




